{% extends 'base.html' %}

{% block title %}
Agregar imágenes
{% endblock %}

{% block index %}
<section id="hero">
    <div class="hero-container">
        <div style="text-align: center">
            <h1 class="h3 mb-5 fw-normal" style="font-family: 'Roboto Slab', serif;">Añadir imágenes al proyecto: {{title}}</h1>
            <form class="form-sigin" action="" method="POST" enctype="multipart/form-data">                
                    {% csrf_token %}
                    <div class="form-floating">
                        <input type="file" multiple class="form-control" id="images" name="images" required id="id_image" style="height: 65px; padding-top: 2rem;">
                        <label for="id_image">Imágenes</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Añadir</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}